
/*define headings and on hover headings*/
.headings {
  position: relative;
  margin: 90px auto 20px;
}

.headings > a {
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 2px;
  display: inline-block;

}


.headings > a:hover {
  color: rgba(255,250,250, 1);
}

.headings > a span {
  font-size: 1.4rem;
  letter-spacing: 1px;
}
